# Cache de Python
__pycache__/
# Cache de Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyo
**/*.pyd

# Entornos virtuales
venv/
.venv/
venv/
.venv/
**/venv/
**/.venv/
**/.venv/
venvModel
back-entrenamiento/models/JxXANXmNPUY5vSJiCPsWAj2HuEf1/

# Archivos temporales y de entorno
*.log
*.tmp
*.bak
.DS_Store
.env
.env.*

back-chat/back-chat
# Scripts o archivos temporales
start_backend.bat

# Archivos de carga
uploads/
temp_downloads/

!/front-end/README.md
back-model/back-model/*

../../node_modules/
../../package-lock.json
../../package.json