@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  background: linear-gradient(180deg, #000000, #0a1b2a); /* Degradado oscuro */
  transition: 0.3s;
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 8px 0 12px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &:hover {
    width: 260px;
  }
}

.menu-content {
  margin: 0;
  padding: 0;
}

.menu-content li {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 0 50px 50px 0;
  transition: 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.menu-content li a,
.logout-btn {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  transition: all 0.3s ease;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

.menu-content li a.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.menu-content li span:nth-child(2) {
  display: none;
  margin-left: 10px;
  white-space: nowrap;
  font-size: 0.95rem;
}

.menu:hover li span:nth-child(2) {
  display: inline-block;
}

.material-symbols-outlined {
  background: #111;
  padding: 10px;
  border-radius: 50%;
  font-size: 22px;
  transition: background 0.3s, color 0.3s;
}

.menu-content li a:hover .material-symbols-outlined,
.logout-btn:hover .material-symbols-outlined {
  background: #4a6cf7;
  color: #fff;
}
