.sidebar {
  width: 220px;
  background-color: #2e3b4e;
  color: white;
  padding: 1rem;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;

  h2 {
    margin-top: 0;
  }

  a.active {
    font-weight: bold;
    color: #2c3e50;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
